.ProjectCarousel {
  display: flex;
  flex: 1;
}

.thumb {
  width: 400px;
  height: 200px;
}

.ProjectList {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;

  .link {
    margin-bottom: 16px;
    text-decoration: underline;
    margin-left: 8px;
  }
}
