.ProjectCard {
  display: flex;
  flex-direction: column;
  margin: 2rem 4vw;

  img {
    height: 20vw;
    border: 1px solid #cacaca;

    &:hover {
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.title {
  width: 100%;
  font-weight: lighter;
}

@media screen and (max-width: 900px) {
  .ProjectCard {
    img {
      height: auto;
      width: 100%;
    }
  }
}
