@import '../../styles/globals.scss';

.ProjectCard {
  display: flex;
  flex-direction: column;
  margin: 2rem 4vw;

  video,
  img {
    height: 20vw;
    border: 1px solid #cacaca;
  }

  &:hover {
    cursor: pointer;
  }
}

.title {
  width: 100%;
  font-weight: lighter;
  margin-top: $spacing-md;
}

@media screen and (max-width: 900px) {
  .ProjectCard {
    video,
    img {
      height: auto;
      width: 100%;
    }
  }
}

@media screen and (min-width: 500px) {
  .ProjectCard {
    video,
    img {
      &:hover {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
    }
  }
}
