.Project {
  padding: 2.25rem;
  padding-top: 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.info,
.mediaContainer {
  width: 50%;
  display: flex;
  position: relative;
  height: 100%;
}

.info {
  flex-direction: column;
  padding-right: 5vw;
  justify-content: space-between;
}

.mediaContainer {
  padding-left: 1rem;
}

.projectImg {
  width: 100%;
}

.backLink {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 8px;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  height: 20px;
  margin-right: 1vw;
}

.projectTitle {
  margin-bottom: 0.5rem;
  font-size: 50px;
}

.projectDescription {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 25px;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.linkIcon {
  height: 16px;
  margin-right: 1vw;
}

.iconText,
.projectLink {
  margin-left: 1vw;
}

@media screen and (max-width: 900px) {
  .Project {
    padding: 1rem;
    padding-bottom: 0;
  }

  .info {
    padding-bottom: 32px;
  }

  .projectWhen {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .Project {
    flex-direction: column;
  }

  .info,
  .mediaContainer {
    width: 100%;
  }
}
